$color_1: #ffffff;
$color_2: #fff;
$color_3: #fbd1d5;
$color_4: white;
$color_5: rgba(255, 255, 255, 0.8);
$color_6: #111;
$color_7: #eee;
$color_8: #4480ff;
$color_9: #4caf50;
$color_10: #f4b400;
$color_11: #f44336;
$font-family_1: Roboto, sans-serif;
$font-family_2: "Protest Revolution", sans-serif;
$font-family_3: "Permanent Marker", cursive;
$font-family_4: "Anton", sans-serif;
$font-family_5: "Montserrat", sans-serif;
$background-color_1: #d3d3d3;
$background-color_2: #ffffff;
$background-color_3: #fbd1d5;
$background-color_4: #2a70e0;
$background-color_5: #eee;
$background-color_6: #111;
$border-color_1: transparent #447fff #447fff transparent;

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://fonts.googleapis.com/css?family=Montserrat";

#experience {
  display: flex;
  .titles {
    font-family: $font-family_4;
  }
  .experienceTab {
    width: 40%;
    .employer {
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        text-align: center;
      }
    }
    .employer.active,
    .employer:hover {
      background-color: $background-color_2;
      color: $color_6;
    }
  }

  .experienceViewer {
    width: 60%;
    overflow: scroll;
    .experienceTop {
      display: flex;
      .employerImage {
        width: 40%;

        margin: 2rem;
        img {
          width: 100%;

          display: block;
          box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.3);
        }
      }
      .experienceTitles {
        margin-top: 2rem;
        h3,
        h4,
        p {
          margin-bottom: 1rem;
        }
      }
    }
    ul {
      margin: auto;
    }
  }
}
.section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}
.left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.grid-text {
  padding: 1rem;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid-image {
  position: sticky;
  z-index: 100;
  top: -10px;
}
