@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://fonts.googleapis.com/css?family=Montserrat";
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}
:root {
  --marquee-width: 100vw;
  --marquee-height: 12vh;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("../../public/images/back2.jpg");
  background-size: cover;
  color: #ffffff;
  height: 400px;
}
.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}
.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

#megaTop {
  box-sizing: border-box;
  border-radius: 0.3rem;
  background-color: #111;
  align-items: center;
  background-image: url("../../public/images/back2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 100vh;
  padding: 164px 0px;
  display: block;
}
#megaTop #coolAssTitle {
  box-sizing: border-box;
  line-height: 1.2;
  margin: 0px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 68px;
  color: #ffffff;
}

#coolAssTitle {
  font-size: 68px;
  color: white;
}
#coolAssTitle span.text {
  padding: 0;
  padding-right: 4px;
  border-right: 2px solid #ffffff;
  animation: blink 0.75s infinite;
  border-style: none;
}
#coolAssTitle .blue {
  color: rgba(255, 255, 255, 0.8);
}
#coolAssTitle .green {
  color: #111;
}
#coolAssTitle .yellow {
  color: #eee;
}
#coolAssTitle .red {
  color: #4480ff;
}

#faceOfPort {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.marquee {
  box-sizing: border-box;
  overflow: hidden;
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #111;
  color: #fff;
  position: relative;
}
.marquee:before {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}

.marquee-content {
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 1rem;
  list-style: none;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
  height: 100%;
  display: flex;
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4);
  white-space: nowrap;
}
.marquee-content li img {
  height: 65%;
  width: auto;
  border: none;
}

@media screen and (max-width: 670px) {
  #coolAssTitle {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  :root {
    --marquee-width: 100vw;
    --marquee-height: 8vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before {
    font-size: 12px;
    width: 5rem;
  }
  .marquee:after {
    width: 5rem;
  }
}
@media (min-width: 100px) {
  #faceOfPort {
    padding: 0;
  }
}/*# sourceMappingURL=Landscape.css.map */