$font-family_1: "Permanent Marker", cursive;

#education {
  display: flex;
  width: 100%;
  .educationTab {
    width: 40%;
    .tab {
      width: 100%;
      height: 25%;
      border: 1px solid black;
      img {
        max-height: 90%;
        max-width: 90%;
      }
    }
  }
  .educationViewer {
    width: 60%;
  }
  .titles {
    font-family: $font-family_1;
  }
}
